{% extends "govuk/template.njk" %}

{% block head %}
{% include "./tag-manager/head-content.njk" %}
  <!--[if !IE 8]><!-->
<% htmlWebpackPlugin.files.css.forEach(file => { %>
<link href="<%= file.replace('../dist/', '/static/') %>" rel="stylesheet">
<% }) %>
  <!--<![endif]-->

  {# For Internet Explorer 8, you need to compile specific stylesheet #}
  {# see https://github.com/alphagov/govuk-frontend/blob/master/docs/installation/supporting-internet-explorer-8.md #}
  <!--[if IE 8]>
    <link href="{{ govukAssetPath }}/govuk-frontend/govuk/all-ie8.css" rel="stylesheet" />
  <![endif]-->

  {# For older browsers to allow them to recognise HTML5 elements such as `<header>` #}
  <!--[if lt IE 9]>
    <script src="/html5-shiv/html5shiv.js"></script>
  <![endif]-->
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    containerClasses: "govuk-width-container",
    serviceUrl: "/"
  }) }}
{% endblock %}

{% block bodyStart %}
{% include "./tag-manager/body-content.njk" %}
{% from "govuk/components/cookie-banner/macro.njk" import govukCookieBanner %}

{% set html %}
  <p>We use some essential cookies to make this service work.</p>
  <p>We’d also like to use analytics cookies so we can understand how you use the service and make improvements.</p>
{% endset %}

{{ govukCookieBanner({
  ariaLabel: "Cookies on Calculate my progressive reductions",
  messages: [
    {
      headingText: "Cookies on Calculate my progressive reductions",
      html: html,
      actions: [
        {
          text: "Accept analytics cookies",
          type: "button",
          name: "cookies",
          value: "accept"
        },
        {
          text: "Reject analytics cookies",
          type: "button",
          name: "cookies",
          value: "reject"
        },
        {
          text: "View cookies",
          href: "#"
        }
      ]
    }
  ]
}) }}
{% endblock %}

{% block pageTitle %}
  {{ pageTitle }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">Default page template</h1>
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
<% htmlWebpackPlugin.files.js.forEach(file => { %>
  <script src="<%= file.replace('../dist/', '/static/') %>"></script>
<% }) %>
{% endblock %}
