{% extends 'layout.njk' %}
{% set mainClasses = "govuk-main-wrapper--auto-spacing" %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block beforeContent %}
  {{ govukBackLink(model.backLink) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    {{ govukPanel(model.confirmation) }}

    {% from "govuk/components/table/macro.njk" import govukTable %}    

    {{ govukTable(model.paymentBand) }}
    {{ govukTable(model.reduction) }}
    {{ govukTable(model.payment) }}
    
    <p class="govuk-body">
      <a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
    </p>
  </div>
{% endblock %}
