{% extends '_layout.njk' %}
{% set mainClasses = "govuk-main-wrapper--auto-spacing" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-message/macro.njk" import govukErrorMessage %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/home-new",
    attributes: {
      id: "back"
    } }) }}
{% endblock %}

{% block content %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form method="POST" action="/delinked-calculator" novalidate>
          <h2 class="govuk-heading-m">Enter your delinked payments reference amount</h2>
          <p class="govuk-body">This calculator will estimate your payment for 2024 based on reference amount you enter.</p>
          <p class="govuk-body">This is shown on the Delinked Payments Information we've sent you. We expect to send this to you by the end of November 2023.</p>
          <p class="govuk-body">If your reference amount changes, you should use the updated amount. For example, if you transfer some of your reference amount to another business.</p>
          <p class="govuk-body">The number you enter should not include commas. For example, enter £20,000 as 20000.</p>
          {{ govukInput(model) }}
          {{ govukButton({
            text: "Calculate my Delinked payment",
            attributes: {
              id: "submit"
            }
          }) }}
        </form>
      </div>
    </div>
  </div>
{% endblock %}
