{% extends '_layout.njk' %}
{% set mainClasses = "govuk-main-wrapper--auto-spacing" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
const delinkedValuePage = new File('./delinkedvalue.js')

{% block content %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-m">{{ serviceName }}</h1>

          <p class="govuk-body">Use the calculator to see how progressive reductions could affect your Direct Payments in England for:</p>

          <p class="govuk-body">
            Basic Payments scheme (BPS) 2021 to 2023</br>
            Delinked payments 2024
          </p>

        <p class="govuk-body">
            Calculation should be quick, and will not ask for any personal information. The results are an estimated calculation based on our progressive reduction figures. The reduction rates for 2025 to 2027 will be published when they are available. 
          </p>

        {{ govukButton({
            classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-6",
            href: "/value",
            isStartButton: true,
            text: "Start new BPS calculation",
            attributes: {
              id: "submit"
            }
          }) }}

        {% if delinkedValuePage.exists %}

        {{ govukButton({
            classes: "govuk-!-margin-bottom-8 delinked",
            href: "/delinkedvalue",
            isStartButton: true,
            text: "Start new Delinked Payment calculation",
            attributes: {
              id: "submit"
            }
          }) }}
          
        {% endif %}

        <h2 class="govuk-heading-m">Before you start</h2>

        <p class="govuk-body">
            This calculator will estimate your payment based on the starting amount you enter.</br>
        <span class="govuk-!-font-weight-bold">BPS years 2021 to 2023</span>
      </p>

      <p class="govuk-body">
            This starting payment amount will be the total payment you would have been due in each scheme year, 
            before progressive reductions are applied.
            If you wish to use your 2020, 2021 or 2022 figure then you should use the 'sub total' in the claim summary box of your BPS Claim Statement. This figure is the total of the 'Main BPS claim value (excluding young farmer part)' and 'Young farmer payment'. This is your 'gross payment' before any reductions have taken place.
          </p>

      <p class="govuk-body">
            If your claim area changed during 2021 to 2023, you can use the calculator as many times as you need, using different starting payment amounts each time.
          </p>

      <h3 class="govuk-heading-s">Delinked Payments 2024</h3>
      <p class="govuk-body">
            Your starting amount will be your delinked payments 'reference amount'. This will be shown on your delinked payments Information Statement. If your reference amount changes, for example if you transfer some of your reference amount to another business, you should use your updated reference amount.
          </p>

      <p class="govuk-body">
            To receive delinked payments, you must also have claimed, and been eligible for, BPS 2023 in England (except for some inheritance cases).
          </p>

      <p class="govuk-body">
            Read <a id="delinked-guidance" class="govuk-link" rel="external" href="https://www.gov.uk/guidance/delinked-payments-replacing-the-basic-payment-scheme"> for more information about delinked payments.
          </p>

      <p class="govuk-body">
            If you require help in using this calculator, please call the Rural Payments helpline on 
            <a href="tel:03000 200 301">03000 200 301</a>
      </p>

      <h3 class="govuk-heading-s">Opportunities within other schemes</h3>
      <p class="govuk-body">
            If you're a farmer, land manager or forester, read Funding for farmers and land managers for information about opportunities to apply for money to improve the environment and your farms productivity. You can keep up to date with scheme news on the Rural Payments Agency website and the Defra Farming blog.
          </p>

      <p class="govuk-body">
            If you would like more information about schemes and grants funded through the reductions to BPS, please visit the Rural payments and grants page
          </p>

    </div>
    <div class="govuk-grid-column-one-third">
      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
              Useful links
            </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a class="govuk-link" rel="external" href="https://www.gov.uk/government/publications/agricultural-transition-plan-2021-to-2024">
                    Agricultural Transition Plan 2021 to 2024 
                  </a>
            </li>
            <li>
              <a id="farming-is-changing-link" rel="external" class="govuk-link" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/1003924/farming-changing.pdf">
                    Farming is changing
                  </a>
            </li>
          </ul>
        </nav>
      </aside>
    </div>
  </div>
</main>
</div>
{% endblock %}