{% extends 'layout.njk' %}
{% set mainClasses = "govuk-main-wrapper--auto-spacing" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">{{ serviceName }}</h1>

          <p class="govuk-body">Use this service to:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>see how progressive reductions could affect your Direct Payment (currently paid through the Basic Payment Scheme) for scheme years 2021 to 2024</li>
          </ul>

          <p class="govuk-body">
            Calculation takes around 2 minutes. No information which you input will be recorded or retained.
          </p>

          <p class="govuk-body">
            There is no limit to the number of times you can use this calculator.
          </p>

          <h2 class="govuk-heading-m">What are progressive reductions?</h2>

          <p class="govuk-body">
            We plan to phase out Direct Payments in England from 2021 to 2027. 
            Our approach is designed to help everyone manage the transition away from Direct Payments as smoothly as possible. 
            The same amount will be available to the farming sector in every year of this Parliament, though the way it is distributed will change. 
            Funds will be redirected straight back into Countryside Stewardship and our new schemes.
          </p>

          <p class="govuk-body">
            Progressive reductions will be made to Basic Payment Scheme (BPS) payments from the 2021 scheme year, and then to delinked payments when these replace BPS. 
            We currently plan to delink payments in 2024. 
            All BPS payments will be reduced from 2021, but there will initially be bigger reductions in higher payment bands. 
            These bands will work like income tax bands.
          </p>

          <p class="govuk-body">
            We have announced the reductions we intend to apply for each of the years 2021 to 2024. 
            We intend to continue to make gradual reductions to the payments in the later years of the agricultural transition, 
            with the last payments made for the 2027 scheme year.
          </p>

          <p class="govuk-body">
            For more information about the 2021 to 2024 reductions to Direct Payments, 
            the other support available during the transition period and delinked payments please see 
            'The Path to Sustainable Farming: An Agricultural Transition Plan 2021 to 2024' and our 'Farming is Changing' leaflet, linked above.
          <p>

          {{ govukButton({
            classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
            href: "/value",
            isStartButton: true,
            text: "Start new calculation",
            attributes: {
              id: "submit"
            }
          }) }}

          <h2 class="govuk-heading-m">Before you start</h2>

          <p class="govuk-body">
            This calculator will apply progressive reductions to a ‘starting payment amount’ for the scheme years 2021 to 2024.
          </p>

          <p class="govuk-body">
            This starting value will be the total payment you would have been due in each scheme year, before progressive reductions are applied. 
            While we operate BPS, the progressive reductions will be applied to the total BPS payment (including any young farmer payment), 
            after all other reductions and penalties have been applied.  As now, this BPS payment value will be calculated each year, 
            once financial ceilings for the scheme are set, and will depend on the BPS entitlements and eligible area you claim in that year.
          </p>

          <p class="govuk-body">
            We currently plan to introduce delinked payments in 2024. For delinked payments, 
            we plan to apply progressive reductions to a 'reference amount', based on the BPS payment you received during a reference period. 
            This may be similar to the value of your current payment.
          </p>
          <p class="govuk-body">
            The calculator allows you to enter a single value for scheme years 2021 to 2024, which assumes that your claim won’t change during these years. 
            If you expect that your claim will change, for example, because you plan to expand your farm, you can enter a different starting payment amount for each year. 
            There is no limit to the number of times you can use this calculator. 
          </p>

        </div>
        <div class="govuk-grid-column-one-third">
          <aside class="app-related-items" role="complementary">
            <h2 class="govuk-heading-m" id="subsection-title">
              Useful links
            </h2>
            <nav role="navigation" aria-labelledby="subsection-title">
              <ul class="govuk-list govuk-!-font-size-16">
                <li>
                  <a class="govuk-link" href="https://www.gov.uk/government/publications/agricultural-transition-plan-2021-to-2024">
                    Agricultural Transition Plan 2021 to 2024 
                  </a>
                </li>
                <li>
                  <a class="govuk-link" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/939683/farming-changing.pdf">
                    Farming is changing
                  </a>
                </li>
              </ul>
            </nav>
          </aside>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
