{% extends '_layout.njk' %}
{% set mainClasses = "govuk-main-wrapper--auto-spacing" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-message/macro.njk" import govukErrorMessage %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/",
    attributes: {
      id: "back"
    } }) }}
{% endblock %}

{% block content %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form method="POST" action="/value" novalidate>
          {{ govukInput(model) }}
          {{ govukButton({
            text: "Calculate my BPS payments",
            attributes: {
              id: "submit"
            }
          }) }}
          <h3 class="govuk-heading-s govuk-!-margin-top-4">
            I'm claiming for land that has changed or may change
          </h3>
          <p class="govuk-body">
            If the land you're claiming for has changed or may change, you should take the average unit values 
            from your 2020 BPS Claim Statement. Multiply these values by the revised claim area you're planning 
            to use in 2022 or 2023 to get your starting amount.
          </p>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
