{% extends 'layout.njk' %}
{% set mainClasses = "govuk-main-wrapper--auto-spacing" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-message/macro.njk" import govukErrorMessage %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/input-type",
    attributes: {
      id: "back"
    } }) }}
{% endblock %}

{% block content %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% if model.errors %}
          {{ govukErrorSummary(model.errors) }}
        {% endif %}
        <form method="POST" action="/values" novalidate>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  What are your starting payment amounts?
                </h1>
              </legend>
              <div id="changed-name-hint" class="govuk-hint">
                You only need to provide a value for the years you expect a payment.
              </div>
                {{ govukInput(model.band2021) }}
                {{ govukInput(model.band2022) }}
                {{ govukInput(model.band2023) }}
                {{ govukInput(model.band2024) }}
            </fieldset>
          </div>
            {{ govukButton({
              text: "Calculate my progressive reductions",
              attributes: {
              id: "submit"
            }
            }) }}
        </form>
      </div>
    </div>
  </div>
{% endblock %}
